.container {
  font-family: Arial, sans-serif;
  margin: 20px auto 70px;
  width: 80%;
}

.form-table {
  width: 100%;
  border-collapse: collapse;
}
.form-table th, .form-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  color: #333; 
  background-color: rgba(255, 255, 255, 0.8);
}

.form-table th {
  background-color: rgba(240, 240, 240, 0.8); 
  font-weight: bold;
}

.form-table tr:nth-child(even) {
  background-color: rgba(249, 249, 249, 0.8); 
}

.form-table tr:hover {
  background-color: rgba(241, 241, 241, 0.8);
}


.btn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 8px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #45a049;
}
